.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 0 30px;
}

@media screen and (max-width: 720px) {
    .main {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
}








/* left section FORM */

.left-section{
    width: 50%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.form-title{
    font-size: 24px;
    font-weight: bold;
    color: #0F6292;
    margin-bottom: 8px;
}

.form{
    width: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form h5{
    font-size: 15px;
    color: #0F6292;
    margin-bottom: 4px;
    font-weight: bold;
}

.form input{
    text-indent: 5px;
    padding: 5px 0;
    width: 100%;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #0F6292;
    outline: none;
    margin-bottom: 15px;
    border-radius: 5px;
}


.form textarea {
    text-indent: 5px;
    padding: 5px 0;
    max-width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #0F6292;
    outline: none;
    margin-bottom: 15px;
    border-radius: 5px;
}

::placeholder{
    font-weight: lighter;
}

.form select{
    text-indent: 5px;
    width: 100%;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #0F6292;
    outline: none;
    margin-bottom: 15px;
    border-radius: 5px;
}

.add-button{

    background-color: #0F6292;
    color: white;
    border-radius: 8px;
    width: 100px;
    margin: 20px auto;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    outline: none;
    border-style: none;
}

.add-button:hover {
    color: #0F6292;
    background-color: white;
    border: 1px solid #0F6292;
  }






@media screen and (max-width: 720px) {
    .left-section {
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .left-section {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }
}










/* right section BUG */

.right-section{
    width: 40%;
    height: 80vh;
    margin: 0px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
}

.all-bugs{
    font-size: 24px;
    font-weight: bold;
    color: #0F6292;
    margin-bottom: 8px;
    text-align: center;   
}


.my-bug{
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background: #0F6292;
    border-radius: 0 10px 0 10px;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    box-shadow: 5px 7px rgba(0, 0, 0, 0.3);
}

.bug-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.bug-heading h2{
    display: flex;
    font-size: 22px;
    font-weight: 700;
    color: white;
    border-bottom: 1px solid white;
}

.bug-heading span{
    border-radius: 5px;
    padding: 2px 10px;
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.bug-details {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
}


.low{
    background-color: #219321;
    color: black;
}
.normal{
    background-color: #FFFF00;
    color: black;
}
.high{
    background-color: rgb(189, 26, 26);
    color: white;
}



.editing-buttons{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

button{
    height: 30px;
    width: 80px;
    text-align: center;
    font-size: 14px;
    padding: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    border-style: none;
}

.update-button{
    background-color: red;
    color: white;
}
.update-button:hover {
    color: red;
    background-color: white;
    border: 1px solid red;
}



.delete-button{
    background-color: green;
    color: white;
}
.delete-button:hover {
    color: green;;
    background-color: white;
    border: 1px solid green;;
}




@media screen and (max-width: 720px) {
    .right-section {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 10px auto;
        padding: 20px;
    }
    .my-bug{
        width: 100%;
        margin: 10px auto;
    }
}

@media screen and (max-width: 480px) {
    .right-section {
        display: block;
        width: 100%;
        height: 100%;
        margin: 10px auto;
        padding: 5px;
    }
    .my-bug{
        width: 270px;
        margin: 10px auto;
    }
}